<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>About</title>
</head>
<body>
    <header>
        <nav>
            <h1 class="title">Hilma Af Klint</h1>
            <ul class="menu">
                <a href="about"><li>About</li></a>
                <a href="works"><li>Her work</li></a>
                <a href="influences"><li>Influences</li></a>
            </ul>
        </nav>
    </header>
    <article class="about">
       <p>
        Hilma af Klint (26 October 1862 - 21 October 1944) was a Swedish artist and mystic whose paintings are considered among the first abstract works known in Western art history. A considerable body of her work predates the first purely abstract compositions by Kandinsky, Malevich and Mondrian. 
        <br>
        <br>
        She belonged to a group called "The Five", comprising a circle of women inspired by Theosophy, who shared a belief in the importance of trying to contact the so-called "High Masters"—often by way of séances. Her paintings, which sometimes resemble diagrams, were a visual representation of complex spiritual ideas.
       </p>
       <img src="https://upload.wikimedia.org/wikipedia/commons/2/21/Hilma_af_Klint_-_Booklet_01.jpg" alt="">
    </article>
    <footer>
        <h3>Made with 💕 by Milki Kiwi</h3>
    </footer>
    </body>
</html>