<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <header>
        <nav>
            <h1>Hilma Af Klint</h1>
            <ul>
                <li>About</li>
                <li>Her work</li>
                <li>Gallery</li>
            </ul>
        </nav>
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Hilma-af-Klint.jpg" alt="Hilma af Klint Photo">
    </header>
    <article>
        <h2>The First Abstract Painter Was a Woman</h2>
    </article>
</body>
</html>