<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <header>
        <nav>
            <a class="title-link" href="/"><h1 class="title">Hilma Af Klint</h1></a>
            <ul class="menu">
                <a class="active" href="/"><li>Home</li></a>
                <a href="about"><li>About</li></a>
                <a href="works"><li>Her work</li></a>
                <a href="influences"><li>Influences</li></a>
            </ul>
        </nav>
    </header>
    <article class="main">
        <img class="portrait" src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Hilma-af-Klint.jpg" alt="Hilma af Klint Photo">
        <p>Life is a farce if a person does not serve truth</p>
    </article>
    <footer>
        <h3>Made with 💕 by Milki Kiwi</h3>
    </footer>
</body>
</html>