<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <article>
        <p>
            Hilma Af Klint's later period abstract art (1906-1920) delved into symbolism with a combination of geometry, figuration, scientific research and religious practices. Her studies of organic growth, including shells and flowers, helped her portray life through a spiritual lens.

Her individual or signature style was also marked with impressions from the late 19th and early 20th century scientific discoveries as also influenced by contemporary spiritual movements such as theosophy and anthrosophy too. The idea to transcend the physical world and the constraints of representational art is visible in her abstract paintings.[27] 

Her symbolic visual language has an ordered progression that reflects her understanding of grids, circles, spirals and petal-like forms—sometimes diagrammatic, sometimes biomorphic.[28] Her paintings also explored dichotomy of the world.[29]

Spiral forms appear often in her art, as they do in the automatic drawings by De Fem. While every such geometric form, in this case, Spiral suggests growth, progress and evolution, color choices also are metaphorical in nature.[30]

As one of the Proto-Feminist Artists, her style represents the sublime in the art.
        </p>
    </article>
</body>
</html>