<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a class="title-link" href="/"><h1 class="title">Hilma Af Klint</h1></a>
            <ul class="menu">
                <a href="/"><li>Home</li></a>
                <a href="about"><li>About</li></a>
                <a href="works"><li>Her work</li></a>
                <a class="active" href="influences"><li>Influences</li></a>
            </ul>
        </nav>
    </header>
    <article class="influences">
        <p>
            Hilma Af Klint's later period abstract art (1906-1920) delved into symbolism with a combination of geometry, figuration, scientific research and religious practices. Her studies of organic growth, including shells and flowers, helped her portray life through a spiritual lens. 
            <br>
            <br>
            Her individual or signature style was also marked with impressions from the late 19th and early 20th century scientific discoveries as also influenced by contemporary spiritual movements such as theosophy and anthrosophy too. The idea to transcend the physical world and the constraints of representational art is visible in her abstract paintings. 
            Her symbolic visual language has an ordered progression that reflects her understanding of grids, circles, spirals and petal-like forms—sometimes diagrammatic, sometimes <a class="inner-link" target="_blank" href="https://www.moma.org/collection/terms/biomorphic">biomorphic </a>. Her paintings also explored dichotomy of the world.
        </p>
       <img class="influences-pic" src="https://upload.wikimedia.org/wikipedia/commons/3/33/Hilma_af_Klint_-_1920_-_Buddha%27s_Standpoint_in_the_Earthly_Life_-_No_3a.jpg" alt="">
    </article>
    <footer>
        <h3>Made with 💕 by Milki Kiwi</h3>
    </footer>
</body>
</html>