<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <article>
        <p>
            In her will, Hilma af Klint left all her abstract paintings to her nephew, vice-admiral Erik af Klint of the Royal Swedish Navy. She specified that her work should be kept secret for at least 20 years after her death. When the boxes were opened at the end of the 1960s, very few persons had knowledge of what would be revealed.

In 1970 her paintings were offered as a gift to Moderna Museet i Stockholm, but the donation was declined. Erik af Klint then donated thousands of drawings and paintings to a foundation bearing the artist's name in the 1970s. Thanks to the art historian Åke Fant, her art was introduced to an international audience in the 1980s, when he presented her at a Nordik conference in Helsinki in 1984.

The collection of abstract paintings of Hilma af Klint includes more than 1200 pieces. It is owned and managed by the Hilma af Klint Foundation in Stockholm, Sweden. In 2017, Norwegian architectural firm Snøhetta presented plans for an exhibition centre dedicated to af Klint in Järna, south of Stockholm, with estimated building costs of €6 to 7.5 million. In February 2018, the Foundation signed a long-term agreement of cooperation with the Moderna Museet, thereby confirming the perennity of the Hilma af Klint Room, i.e., a dedicated space at the museum where a dozen works of the artist are shown on a continuous basis.
        </p>
    </article>
</body>
</html>