<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a class="title-link" href="/"><h1 class="title">Hilma Af Klint</h1></a>
            <ul class="menu">
                <a href="/"><li>Home</li></a>
                <a href="about"><li>About</li></a>
                <a class="active" href="works"><li>Her work</li></a>
                <a href="influences"><li>Influences</li></a>
            </ul>
        </nav>
    </header>
    <article class="works">
        <p>
            During her lifetime, af Klint’s conventional paintings were included in numerous exhibitions. Her non-figurative works, however, were only shown in anthroposophical and theosophical contexts. After her passing it took decades until her art gained any serious attention. In 1986, the Los Angeles County Museum of Art (LACMA) included her works in the survey exhibition The Spiritual in Art: Abstract Painting 1890-1985. Since then interest in her esoteric paintings has grown and today her work is displayed at important museums across the world on a regular basis. In the autumn of 2018, Hilma af Klint: Paintings for the Future at the Guggenheim museum in New York became the best attended exhibition in the history of the institution.
        </p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Hilma_af_Klint_-_1907_-_Altarpiece_-_No_1_-_Group_X_-_Altarpieces.jpg" alt="">
    </article>
    <div class="pic-display">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/5b/Hilma_af_Klint_-_Group_IX_SUW%2C_The_Swan_No._1_%2813947%29.jpg" alt="">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/15/Hilma_af_Klint_-_Group_IX_UW_No._25%2C_The_Dove%2C_No._1_%2813912%29.jpg" alt="">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/07/Hilma_af_Klint_Svanen.jpg" alt="">
    </div>
    <footer>
        <h3>Made with 💕 by Milki Kiwi</h3>
    </footer>
</body>
</html>